.navbar {
  margin-bottom: 3rem;
}

.main {
  position: fixed;
}

.scroll {
  overflow: hidden;
  overflow-y: scroll;
  height: 50vh;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
